.tabs {
	margin-bottom: 5vh;
	margin-left: auto;
	margin-right: auto;
	@media (max-width: 414px) {
		margin-bottom: 4vh;
	}
	&__tab {
		&:first-child {
			margin-right: 5vw;
		}
		&--selected {
			background: transparent;
			color: #020202;
		}
		cursor: pointer;
		border-radius: 40px;
		border: none;
		padding: 10px 15px;
		font-size: 1.5vw;
		color: #d8dde1;
		background-color: #959fa1;
		@media (max-width: 1024px) {
			padding: 10px 20px;
			font-size: 1.95vw;
		}
		@media (max-width: 414px) {
			font-size: 3vw;
		}
		@media (max-width: 375px) {
			font-size: 3.5vw;
		}
	}
}
